#periode-selector label {
  margin-right: 10px;
  cursor: pointer;
}
input[type="radio"].form-radio {
  display: none;
}
input[type="radio"].form-radio:checked + span {
  background-color: #3b82f6; /* Blue background on select */
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px; /* pill shape */
  font-weight: 600;
}
iframe:focus {
  outline: none;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 400px; /* Default height for charts */
  width: 100%;
}
/* Basic spinner */
.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: 3px solid rgba(79, 70, 229, 0.3); /* indigo-600 opacity 30% */
  border-top-color: rgb(79, 70, 229); /* indigo-600 */
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
